ROBOFLOW_API_BASE=https://serverless.roboflow.com
API_KEY=
WORKSPACE=huyquang075s-workspace

MODEL_ID=detect-count-and-visualize-3/1

FIELD_MODEL_ID=vietnamese-id-card-uuil0-02its/1

VERSION=1
ROBOFLOW_CONFIDENCE=0.35
ROBOFLOW_OVERLAP=0.5
ROBOFLOW_TIMEOUT_SECONDS=30
